/*
@font-face {
	font-family: pnr;
    src: url('../fonts/f.eot');
    src: url('../fonts/f.eot?#iefix') format('embedded-opentype'),
    url('../fonts/f.woff') format('woff'),
    url('../fonts/f.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
*/


@font-face {
	font-family: hc;
    src: url('../fonts/HelveticaNeueCyr-Roman.otf');
 }
@font-face {
	font-family: hcb;
    src: url('../fonts/HelveticaNeueCyr-Bold.otf');
 }
@font-face {
	font-family: ib;
    src: url('../fonts/IntroHeadR-Base.otf');
 }