
@media screen and (max-width: 1900px ){
	/*контент 1800*/
	header{
		padding-top: 245px;

		h1{
			padding-bottom: 70px;
		}
		h3{
			margin-bottom: 50px;
		}
	}
	.row_nav{
		width: 1170px;
	}
 	nav{
 		.logo{
 			margin-top: 15px;
 		}
	 	ul{
			display: flex;
			justify-content: space-between;
			float: none;
			clear: both;
			padding-top: 20px;
			text-shadow: 1px 1px 1px #5B6B84;
			transition: 0.2s;
			li{
				display: block;
				margin: 0;
			}
		}
 	}
 	.faq li{
 		font-size: 24px;
 		padding: 20px 0;
 	}
 	footer p{
 		clear: both;
 		line-height: 44px;
 	}
 	nav.scrolling{
 		background: #55667A;
 		padding-top: 5px;
 		.logo,
 		.right {
			transform: translateY(-200px);
			height: 0;
 		}
 		ul{
 			padding-top: 0;
 		}
 	}
 	.logo,
 	.right{
		transition: 0.2s;
 	}
}

@media screen and (max-width: 1400px ){
	/*контент 960*/
	header{
		background-size: auto 700px;
		background-position:  center;
		h1{
			font-size: 56px;
			span{
				font-size: 31px;
			}
		}
		h3{
			font-size: 31px;
		}
	}
	h2{
		padding: 50px 0 60px;
	}
}
@media screen and (max-width: 1200px ){
	/*контент 960*/
}


@media screen and (max-width: 1000px ){
	/*контент 768*/
}
@media screen and (max-width: 799px ){/*768*/
	/*контент 480*/
}
@media screen and (max-width: 530px ) {/*480*/
 	/*контент 460*/
 	
}
@media screen and (max-width: 470px ) {
    /*414*/
 	/*контент 92%*/
 	
}
@media screen and (max-width: 410px ) {
    /*390*/
 	
 	
}
@media screen and (max-width: 385px ) {
    /*375*/
 	
 	
}
@media screen and (max-width: 370px ) {
    /*360*/
 	
 	
}

@media screen and (max-width: 350px ) {
    /*320*/


}
